body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

.container {
    display: grid;
    grid-template: 1fr 9fr / 2fr 9fr;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: whitesmoke;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.274);

}


.welcomeMsg {
    display: flex;
}
.welcomeMsg #imgPlaceholder {
    height: 100px;
    width: 100px;
    background-image: url("./charlesdeluvio-Mv9hjnEUHR4-unsplash.jpg");
    background-size: 150px, 150px;
    background-position: center;
    border-radius: 45px;
    margin-right: 10px;
}

#imgPlaceholderSmall {
    height: 50px;
    width: 50px;
    background-image: url("./charlesdeluvio-Mv9hjnEUHR4-unsplash.jpg");
    background-size: 100px, 100px;
    background-position: center;
    border-radius: 45px;
}

.headerTop {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.headerBottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    justify-content: end;
    margin-left: auto;

}

.header li {
    background-color: deepskyblue;
    color: white;
    text-align: center;
    height: 35px;
    width: 120px;
    margin-left: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.user h5 {
margin-block: 0;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: deepskyblue;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}

.sidebar span {
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.sidebar .logo {
    font-size: 2.5rem;
    font-weight: 900;
    
}

#logoDiamond {
    font-size: 3rem;
}

.sidebar ul {
    padding-inline-start: 0;
    list-style-type: none;
}

.sidebar li {
    display: flex;
    align-items: center;
}
.mainContent {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(2, 3fr) 2fr;
    gap: 20px;
    padding: 20px;
}

.yourProjects {
    grid-column: 1 / 3;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 50px repeat(auto-fit, minmax(150px, 1fr));
}

.yourProjects h1{
    grid-area: 1 / 1 / 2 / 3;
}
.card {
    border-left: 10px solid orange;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);
    padding: 15px;
}
.contentIcons {
    display: flex;
    justify-content: end;
    gap: 2rem;
    position: relative;
    bottom: -10rem;
}

.sidebox {
    grid-area: 1 / 3 / 3 / 4;
    display: grid;
    grid-template-rows: 50px 1fr 50px 1fr;
    height: 50vh;
}

.announcements {
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);
    padding: 15px;
}

.trending {
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);
    padding: 15px;
}

.searchBox {
    display: flex;
    align-items: start;
}

#searchBar {
    flex: 1;
}